@model Location_AAE_ASP_NET.Models.Vehicule

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Recapitulatifs de la reservation";
}

<h2>Details</h2>

<div>
    <h4>Recapitulatifs de la reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kilometrage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kilometrage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <div class="editor-field">
                    @Html.Hidden("startDate", Session["startDate"])
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="editor-field">
                    @Html.Hidden("endDate", Session["endDate"])
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Hidden("vehiculeFK", Model.vehiculeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    </div>

}
@Html.ActionLink("Back to List", "BookedVehicles")


