@model PagedList.IPagedList<Location_AAE_ASP_NET.Models.Parking>
@using PagedList
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Parkings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "parkings", FormMethod.Get))
{
<p>
    Search: @Html.TextBox("Search", ViewBag.CurrentFilter as string)
    <input type="submit" value="Find" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nom", "Index", new { sortOrder = ViewBag.SortingId, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.SortingAddress, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nombre de Voitures", "Index", new { sortOrder = ViewBag.SortingNumber, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Telephone", "Index", new { sortOrder = ViewBag.SortingPhone, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbrCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.parkingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.parkingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.parkingId })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
